@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&amp;display=swap&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap');

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: 'Montserrat', sans-serif;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

html
{
    overflow: hidden;
}
body
{
    overflow-y: scroll;
    overflow-x: hidden;
  
}

.productImage{
	width: 100%;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}
 
::-webkit-scrollbar-thumb {

  border-radius: 10px;
  background: #69C1B6; 
}

::-webkit-scrollbar-thumb:hover {
  background:rgba(48,247,194,1.00); 
}


a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

section
{
	padding: 7em;
	height: calc(100vh - 14em);
	scroll-snap-align: start;
}

h3
{
	font-size: 6vh;
	font-weight:100;
	margin: 0;
}


.h3_2
{
	font-size: 6vh;
	font-weight:100;
	margin: 0;
	color: white;
}
.h3_3
{
	font-size: 6vh;
	font-weight:100;
	margin: 0;
}

p
{
	font-size: 30px;
	text-align: right;
	margin-left: 120vh;
}



.btn_productoff{
	list-style: none;
    width: 17vw;
    height: 5vh;
    padding-top: 2.5vh;
    font-size: 1vw;
    letter-spacing: 5px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #69c1b6;
	color: black;
	background:white;
	cursor: pointer;
	display: none;
	
}
.btn_product:hover{
	color: #69C1B6;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #69c1b6;
    background: rgba(0,0,0,0.70);
}



.btn_product img{
	width: 1vw;
}

.container1
{
	background-image: url("../images/sec2_background.png");
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}




@media(min-width:600px){
	
	.benactive{
	list-style: none;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 3px;
	text-align: left;
	animation: anm_navbar 3s ease-out 0s 1;
	margin-top: 1vh;
}
	
	.utabenhow{
	display: flex;
	margin-top: -15vh;
	overflow: hidden;
    height: 20vh;	
}
	
	.utacontainer{
	text-align: center;
	width: 100vw;
	height: 60vh;
	overflow: hidden;
}
	
	.s3title{
	overflow: hidden;
    height: 30vh;
}
	.utaimg{
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	transition: .5s;
	-webkit-transition: .5s;
}
.utaimg:hover{
	height: 54vh;
}
	
	

.sc3title li
{
	padding-top: 4px;
    font-weight: 200;
    letter-spacing: 3px;
	font-size: 0.8vw;
}

.sc4title li
{
	padding-top: 4px;
    font-weight: 200;
    letter-spacing: 3px;
	font-size: 0.8vw;
}
	
	.utabenefits
{
	text-align: left;
	padding-right: 20vw;
	width: 20vw;
    padding-left: 10vw;
}
	
	.utahow
{
	text-align: right;
    padding-right: 10vw;
    width: 20vw;
    padding-left: 20vw;
}
	
	
	.sc3title
{
	text-align: left;
    padding-left: 1vw;
    margin-left: 1vw;
    list-style: none;
    margin-top: 2vh;
    width: 13vw;
    color: white;
    border-bottom: 2.5vh solid rgba(105,193,182,1);
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
}

.sc4title
{
	text-align: right;
	margin-left: auto;
    padding-right: 1vw;
    margin-right: 1vw;
    list-style: none;
    margin-top: 2vh;
    width: 14vw;
    color: white;
    border-bottom: 2.5vh solid rgba(105,193,182,1);
    border-right: 0px solid transparent;
    border-left: 25px solid transparent;
    height: 0;
}
	
	
	
	
	.uta1context{
	background: rgba(0,0,0,0.3);
    border-top-right-radius: 2.5vw;
    border: 1px solid rgba(105,193,182,1);
    height: 5vw;
}
.uta2context{
	background: rgba(0,0,0,0.3);
    border-top-left-radius: 2.5vw;
    border: 1px solid rgba(105,193,182,1);
    height: 5vw;
}
	
	
	.c2li1{
	list-style: none;
	text-align: left;
	font-size: .9vw;
	letter-spacing: 2px;
	padding-left: 1vw;
	color: white;
	padding-top: 2vh;
	text-shadow: 0 2px 4px black;
}
.c2li2{
	list-style: none;
	text-align: left;
	font-size: 3vw;
	font-weight: 700;
	color: white;
	text-shadow: 0 2px 4px black;
}

.c2li3{
	list-style: none;
	text-align: left;
	font-size: 3vw;
	font-weight: 200;
	padding-left: 20vw;
	color: white;
	margin-top: -1vh;
	padding-bottom: 2vh;
	text-shadow: 0 2px 4px black;

}
	
.s3title ul{
	width: 90vw;
	margin-top: 10vh;
	margin-left: 5vw;
}
	
	#navbartext{
	position: absolute;
	margin-left: 2.8vw;
	margin-top:30vh;
}	
	
	.navicon
{
	display: inline;
    width: 1vw;
    position: fixed;
    height: 100vh;
    margin-top: 23.5vh;
    margin-left: 1.2vw;
    text-align: center;
}
	
	
	
.navlabel
{
	width: 0.5vw;
    height: 12vh;
    border: 0px;
    background:rgba(0,0,0,0.9);
    border-radius: 0.5vw;
    cursor: pointer;
    margin-top: 1vh;
}
	.icon
{
	position: absolute;
  	right: -40px;
   	top: 20px;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: rgba(0,0,0,.5);
	border-radius: 10px;
}
.benefitsanm
{
	text-align: right;
	padding-right: 8vw;
	width: 25vw;
    padding-left: 67vw;
	visibility: hidden;
	opacity: 0%;
	animation: anm_benefits .45s cubic-bezier(0.55, 0.01, 0.85, 0.51) 0s 1;
}

.howanm
{
	text-align: right;
	padding-right: 8vw;
	width: 25vw;
    padding-left: 67vw;
	visibility: hidden;
	opacity: 0%;
	margin-top: 3vw;
	animation: anm_benefits .5s cubic-bezier(0.55, 0.01, 0.85, 0.51) 0s 1;
}
	
	.sc3_1{
	width: 10vw;
}
.sc3_1_1{
	height: 10vw;
	border: 2px solid #69c1b6;
	overflow: hidden;
	text-align: center;
}

.sc3_1_1 img
{
	width: 10vw;
	margin: 0vw;
}
.sc3_1_1 img:hover
{
	transform: scale(1.4);
}

.sc3_1 li{
	margin-top: 1vh;
	list-style: none;
	font-size: 25px;
	text-align: center;
}
.sc3_2{
	width: 10vw;
	margin-left: 2vw;
}
.sc3_2_1{
	height: 10vw;
	border: 2px solid #69c1b6;
	overflow: hidden;
	text-align: center;
}

.sc3_2_1 img
{
	width: 10vw;
	margin: 0vw;
}
.sc3_2_1 img:hover
{
	transform: scale(1.4);
}

.sc3_2 li{
	margin-top: 1vh;
	list-style: none;
	font-size: 25px;
	text-align: center;
}
.content3{
	display: flex;
	margin-bottom: -20.5vh;
	visibility: hidden;
	margin-left: 70vw;
	margin-right: 8vw;
	opacity: 0%;
	animation: anm_content3out .5s cubic-bezier(0.55, 0.01, 0.85, 0.51) 0s 1;
}
.content3in{
	display: flex;
	visibility: visible;
	margin-bottom: -20.5vh;
	opacity: 100%;
	margin-left: 70vw;
	margin-right: 8vw;
	animation: anm_content3in .5s cubic-bezier(0.55, 0.01, 0.85, 0.51) 0s 1;
}
	
	
.btn_product{
	list-style: none;
    width: 17vw;
    height: 5vh;
    padding-top: 2.5vh;
    font-size: 1vw;
    letter-spacing: 5px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
	border: 2px solid #69c1b6;
	color: black;
	background:white;
	cursor: pointer;
}
	
	
.content2{
    text-align: center;
    margin-top: 10vh;
    margin-right: 8vw;
    width: 17vw;
    margin-left: 75vw;
}
	
.container1 ul
	{
	margin-top: 10vh;
	text-align: right;
	margin-right: 8vw;
	margin-left: 20vw;
	margin-bottom: 7vh;
	}
	.c1li1
	{
	font-size: 2.5vw;
	font-weight: 300;
	color: #69c1b6;
	}
	
	.c1li2
	{
		font-size: 3.2vw;
		margin-top: -20px;
		font-weight: 100;
		color: #69c1b6;
	}
	.c1li3
	{
	letter-spacing: 0.2vw;
    font-size: .7vw;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
	.benefits
	{
	text-align: right;
	padding-right: 8vw;
	width: 25vw;
    padding-left: 67vw;
	visibility: visible;
	opacity: 100%;
	animation: anm_benefitsin .45s cubic-bezier(0.55, 0.01, 0.85, 0.51) 0s 1;
	}
	.sc1title
{
	text-align: left;
    padding-left: 1vw;
    margin-left: 2vw;
    list-style: none;
    margin-top: 2vh;
    width: 6vw;
    color: white;
    border-bottom: 2.5vh solid rgba(105,193,182,1);
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
}
.sc1context
{
	/*background:rgba(181,181,181,0.1);*/
	border-top-right-radius: 2.5vw;
	border: 1.5px solid rgba(105,193,182,1);
	height: 5vw;
}
	
	.sc2context
{
	/*background:rgba(181,181,181,0.1);*/
	border-top-left-radius: 2.5vw;
	border: 1.5px solid rgba(105,193,182,1);
	height: 5vw;
}
	.sc1circle{
	margin: 0.5vw;
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    background: rgba(0,0,0,0.5);
	transition: .5s;
	-webkit-transition: .5s;
}
.sc1circle:hover{
    background: rgba(105,193,182,0.50);
	animation: anm_circle 2s cubic-bezier(0, 0, 0, 1.01) 0s 1;
}
	.sc1circle img
{
	width: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vw 0;
}
	.sc1title li
{
	padding-top: 4px;
    font-weight: 200;
    letter-spacing: 3px;
	font-size: 0.8vw;
}

.sc2title li
{
	padding-top: 4px;
    font-weight: 200;
    letter-spacing: 3px;
	font-size: 0.8vw;
}	
	
	.sc2title
{
	text-align: right;
	margin-left: auto;
    padding-right: 1vw;
    margin-right: 2vw;
    list-style: none;
    margin-top: 2vh;
    width: 4vw;
    color: white;
    border-bottom: 2.5vh solid rgba(105,193,182,1);
    border-right: 0px solid transparent;
    border-left: 25px solid transparent;
    height: 0;
}
	.how
{
	text-align: right;
	padding-right: 8vw;
	width: 25vw;
    padding-left: 67vw;
	visibility: visible;
	opacity: 100%;
	margin-top: 3vw;
	animation: anm_benefitsin .5s cubic-bezier(0.55, 0.01, 0.85, 0.51) 0s 1;
}

	
	
}

.container1 ul li
{
	list-style: none;
}





@keyframes anm_benefits{
	0%{
		padding-left: 67vw;
		visibility: visible;
		opacity: 100%;
	}
	100%{
		padding-left: 100vw;
		visibility: hidden;
		opacity: 0%;
	}
}

@keyframes anm_benefitsin{
	0%{
		padding-left: 100vw;
		visibility: hidden;
		opacity: 0%;
	}
	100%{
		padding-left: 67vw;
		visibility: visible;
		opacity: 100%;
	}
}


.sc1logo{
	display: flex;
}


	@keyframes anm_circle{
	0%{
		filter: blur(10px);
	}
	100%{
		transform: rotateX(720deg);
		filter: blur(0px);
	}
}


.bendeactive
{
	display: none;
}

.thumbnail
{
	height: 90%;
}
.thumb_container
{
	margin-top: 40vh;
    display: inline-flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.thumb_parts
{
	width: 12.5vw;
	height: 12.5vw;
    min-width: 120px;
    min-height: 120px;
	padding: 2.5vw;
	background-color: rgba(0,0,0,0.25);
    border-radius: 5vh;
    margin: 2.5vw;
	text-align: center;
	border: 2px solid rgba(0,0,0,0.10);
}

.thumb_parts:hover
{
	background-color: rgba(0,0,0,0.5);
	transition: 0.5s;
	-webkit-transition: .5s;

}

.thumb_parts a li
{
	color: #fff;
    list-style: none;
    padding: 5px 0;
    font-size: 1.2vh;
    letter-spacing: 6px;
    text-align: center;
    text-shadow: 0 2px 2px #000;
	
 }
.thumb_parts a img:hover
{
	animation: anm_thumbimg 1s cubic-bezier(0.6,-0.06, 0.44, 0.35) 0s 1;
}
.thumb_parts a li:hover
{
	animation: anm_thumbparts 1s cubic-bezier(0.6,-0.06, 0.44, 0.35) 0s 1;
}

.aboutus
{
	width: 100vw;
	height: auto;
	background: white;
	padding: 0;
	padding-bottom: 5vh;
	margin: 0;
}
.au-header{
	width: 50vw;
	margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	margin-top: 7vh;
}
.au-header h3
{
	color: #69c1b6;
	font-weight: 700;
	font-size: 50px;
	
}
.au-description
{
	background: url("../images/au-header.png");
	background-size: cover;
	background-position: bottom left;
	width: 50vw;
	margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	padding: 70px;
	filter: drop-shadow(0px 2px 6px rgba(155,155,155,0.1));
}
.au-description p{
	width: 60%;
	text-align: left;
	margin-left: 40%;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 18px;
}

.au-content {
	width: 50vw;
	padding:70px;
	margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	margin-top: 20px;
	filter: drop-shadow(0px 2px 6px rgba(155,155,155,0.1));
}
.au-content:nth-of-type(3){
	background: url("../images/au-content1.png");
	background-size: cover;
	background-position: top right;
}
.au-content:nth-of-type(5){
	background: url("../images/au-content3.png");
	background-size: cover;
	background-position: top right;
}
.au-content:nth-of-type(7){
	background: url("../images/au-content5.png");
	background-size: cover;
	background-position: top right;
}
.au-content:nth-of-type(9){
	background: url("../images/au-content7.png");
	background-size: cover;
	background-position: top right;
}
.au-content:nth-of-type(11){
	background: url("../images/au-content9.png");
	background-size: cover;
	background-position: top right;
}
.au-content:nth-of-type(13){
	background: url("../images/au-content11.png");
	background-size: cover;
	background-position: top right;
}


.au-content li:nth-child(1){
	list-style: none;
	font-weight: 400;
	color: #69c1b6;
}
.au-content li:nth-child(2){
	list-style: none;
	font-weight: 700;
}
.au-content p{
	width: 60%;
	text-align: left;
	margin-left: 0;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 18px;
}

.au-content-r {
	width: 50vw;
	padding:70px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	overflow: hidden;
	text-align: right;
	filter: drop-shadow(0px 2px 6px rgba(155,155,155,0.1));
}

.au-content-r:nth-child(4){
	background: url("../images/au-content2.png");
	background-size: cover;
	background-position: top left;
}
.au-content-r:nth-child(6){
	background: url("../images/au-content4.png");
	background-size: cover;
	background-position: top left;
}
.au-content-r:nth-child(8){
	background: url("../images/au-content6.png");
	background-size: cover;
	background-position: top left;
}
.au-content-r:nth-child(10){
	background: url("../images/au-content8.png");
	background-size: cover;
	background-position: top left;
}
.au-content-r:nth-child(12){
	background: url("../images/au-content10.png");
	background-size: cover;
	background-position: top left;
}

.au-content-r li:nth-child(1){
	list-style: none;
	font-weight: 400;
	color: #69c1b6;
}
.au-content-r li:nth-child(2){
	list-style: none;
	font-weight: 700;
}
.au-content-r p{
	width: 60%;
	margin-left: 40%;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 18px;
}


.section1
{
	text-align: center;
	padding: 0;
    height: 100vh;
    margin: 0;
	overflow: hidden;
}

.secProduct
{
	text-align: center;
	padding: 0;
    height: 200vh;
    margin: 0;
	overflow: hidden;
}
.section2
{
	background: #fff;
    background-size: cover;
    width: 100vw;
    padding: 0;
    display: flex;
    height: 100vh;
	overflow: hidden;
}

.section3
{
	background: radial-gradient(#69c1b6, #1e3144);
	/*background-image: url(../images/sec3_background.png);*/
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container2{
	margin:0;
	padding:0;
}


.section4
{
	background: rgb(247, 247, 247);
	display: inherit;
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

.section4container
{
	display: flex;	
	padding: 0;
	margin: 0;
	padding-top: 10vh;
}
.googlemaps{
	width: 50vw;
	padding-top: 15vh;
	text-align: right;
	padding-right: 1vw;
}

.googlemaps iframe
{
	height: 30vh;
    width: 35vh;
}

.contactinfo{
	padding-left: 1vw;
	width: 50vw;
	padding-top: 10vh;
	text-align: left;
	display: flex;
}

.contactlogos li{
	list-style: none;
	padding-bottom: 8vh;
	height: 4vh;
}

.contactlogos li img{
	height: 3vh;
}

.contactline
{
    min-width: 4px;
    height: 50vh;
    background-color: #69C1B6;
    margin-left: 1vw;
    margin-top: -5vh;
	border-radius: 2px;
}
.contacttext
{
    margin-left: 1vw;	
}

.contacttext h3
{
	font-size: 12px;	
}
.contacttext li
{
	font-size: 12px;
	list-style: none;
}
.contactdiv
{
	min-height: 12vh;
	height: 12vh;
}

.contactdiv li img
{
	height: 3vh;
	margin-right: 0.5vh;
	filter: brightness(0);
}

.contactdiv li img:hover
{
	animation: anm_follow 2s cubic-bezier(0.13, 1.01, 0.37, 0.97) 0s 1;
	filter: brightness(1);
	}

@keyframes anm_follow{
	0%{
	 transform: rotate(0deg);
	}
	60%{
	 transform: rotate(720deg);
	}
	100%{
	 transform: rotate(0deg);
	}
}

.copyright{
	margin-top: 14vh;
    width: 100vw;
}


.copyright li
{
	list-style: none;
	font-size: 10px;
	text-align: center;
}
.backloop
{
	z-index: -1;
	top: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}


.backloop video
{
	position: fixed;
	height: 100vh;
	min-height: 100%;
	top: 0;
	z-index: -1;
	
}



.icon.active .hamburger
{
	background: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before
{
	top: 0;
	transform: rotate(45deg);
}
.icon.active .hamburger:after
{
	top: 0;
	transform: rotate(135deg);
}

.hamburger
{
	width: 30px;
	height: 5px;
	border-radius: 5px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
	-webkit-transition: .5s;
}

.hamburger:before,
.hamburger:after
{
	content: '';
	position: absolute;
	width: 30px;
	height: 5px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
	-webkit-transition: .5s;
}
.hamburger:before
{
	top: -10px;
}
.hamburger:after
{
	top: 10px;
}

 #sidebar{
   position: fixed;
   z-index: 100;
   width: 150px;
   height: 100%;
   background: rgba(0,0,0,0.5);
   right:-150px;
   transition: all 500ms linear;

  }
  #sidebar.active{
   right:0px;
  }

#sidebar ul{
	padding-left: 0;
	margin-top: 0;
	margin-right: 10px;
	text-align: left;
}
  #sidebar ul li{
   color: #fff;
	font-size: 12px;
   list-style: none;
   padding: 15px 10px;
   letter-spacing: 2px;
   border-bottom: 2px solid rgba(100,100,100,0.3);
	cursor: pointer;
  }
  
.menu_social{
   color: #fff;
	font-size: 12px;
   list-style: none;
   padding: 15px 10px;
   letter-spacing: 2px;
	cursor: pointer;
	text-align: right;
  }

.menu_social img{
   height: 25px;
	opacity: 20%;
  }

.menu_social img:hover{
   animation: anm_follow 2s cubic-bezier(0.13, 1.01, 0.37, 0.97) 0s 1;
	opacity: 100%;
  }


  #sidebar ul li:hover{
	color: #69C1B6;
	transition: 1s;
	background-color: rgba(255,255,255,0.90);
	border-bottom: 2px solid #69C1B6;
	animation: anm_sidebar 0.5s cubic-bezier(0, 0, 0, 1.01) 0s 1;
  }

@keyframes anm_sidebar{
	0%{
		letter-spacing: 4px;
	}
	100%{
		letter-spacing: 2px;
	}
}
@keyframes anm_thumbparts{
	0%{
		letter-spacing: 6.5px;
	}
	100%{
		letter-spacing: 6px;
	}
	
}
@keyframes anm_thumbimg{
	from{
		transform: scale(1.1);
	}
	to{
		transform: scale(1);
	}
	
}
  #sidebar .toggle-btn{
   position: absolute;
   right: 200px;
   top: 20px;
  }
  #sidebar .toggle-btn span{
   display: block;
   width: 30px;
   height: 5px;
   background: #151719;
   margin: 5px 0px;
  }
.sidebarsub{
	display: none;
	background: rgba(0,0,0,0.5);
}

.sidebarsub1{
	display: none;
	background: rgba(105,193,182,0.20);
}

.sidebarsub2{
	display: none;
	background: rgba(105,193,182,0.20);
}

.showitem{
	display: block;
}
.hideitem{
	display: none;
}



.navlabel:hover
{
	background: rgba(0,0,0,0.8);
}

.menu_rightarrow{
	width: 0.8vw;
	padding-left: 0.5vw;
}


#navbartext li{
	list-style: none;
	padding-bottom: 12vh;
	font-size: 1vh;
	font-weight: 400;
	opacity: 0;
	cursor:default;
	
}

.deactive{
	list-style: none;
	padding-bottom: 11vh;
	font-size: 1.5vh;
	visibility: hidden;
}

.sactive{
	list-style: none;
	padding-bottom: 11vh;
	font-size: 1.5vh;
	color: #69c1b6;
	animation: anm_navbar 3s ease-out 0s 1;
}

@keyframes anm_navbar{
	0%{
		opacity:0%;
	}
	30%{
		opacity:100%;
	}
	70%{
		opacity:100%;
	}
	100%{
		opacity:0%;
	}
	
}
.partnerlogo{
	height: 3vh;
	padding-left: 1.5vh;
	padding-right: 1.5vh;
	filter: brightness(0.5);
	opacity: 10%;
}
.partnerlogo:hover{
	filter: brightness(1);
	opacity: 100%;
	height: 3.5vh;
	padding-left: 1vh;
	padding-right: 1vh;
	margin-top: -0.5vh;
}

.asaslogo{
	height: 5vh;
	padding-left: 1.5vh;
	padding-right: 1.5vh;
	filter: brightness(0.5);
	opacity: 10%;
	padding-bottom: 2vh;
}
.asaslogo:hover{
	filter: brightness(1);
	opacity: 100%;
	height: 5.5vh;
	padding-left: 0vh;
	padding-right: 0vh;
	padding-bottom: 1.5vh;
}
.partners
{
    text-align: center;
    padding-top: 10vh;
}
.partners li
{
    list-style: none;
}



@keyframes anm_content3in
{
	0%{
		opacity: 0%;
		visibility: hidden;
		margin-top: -20vh;
		margin-bottom: -0.5vh;
	}

	100%{
		opacity: 100%;
		visibility: visible;
		margin-top: 0vh;
		margin-bottom: -20.5vh;
	}
}

.loader-wrapper {
  background: rgba(11,11,11,1);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
	overflow: hidden;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 50%;
  border-top: 2px solid rgba(105,193,182,0.8);
  margin-bottom: -30px;
  animation: loader 2s infinite ease-in-out;
}
@keyframes loader {
  to { transform: rotate(360deg);}
}

table{width:100%; table-layout: fixed;}

.tbl-header{ background-color: rgba(0,0,0,.9); border: 1px solid rgba(125,125,125,0.3);}

.tbl-content{overflow-x:auto; margin-top: 0px; border: 1px solid rgba(125,125,125,0.3);}

th{padding: 15px 10px; text-align: left; font-weight: 400; font-size: 12px; color: #69c1b6; text-transform: uppercase;}

td{padding: 15px; padding-right: 20px; text-align: left; vertical-align:middle; font-weight: 300; font-size: 12px; color: #000; border-bottom: solid 1px rgba(0,0,0,0.1);}

.descProduct{
	width: 80vw; 
	background: #69c1b6;
	min-height: 12.5vh;
	border: 2px solid #69c1b6;
}
.descContent{
	margin-top:25px;
	margin-left: 25%;
	width: 50%;
	text-align: center;
}

.productcontent{display: none;}
.productcontenta{height: 87.5vh; width: 80vw; overflow-y: auto; overflow-x: hidden;}

.containerproducts{margin-top: 12.5vh; margin-left: 10vw; width: 100vw;}

.containerimage{width:80%;height: 75vh;line-height: 100%; overflow: hidden;background: radial-gradient(white, rgb(208, 208, 208));border: 2px solid #69c1b6;}

.producttitle{line-height: 10vh; list-style: none; font-size: 3vw;text-align: left;padding-left: 2vw;background: rgba(0,0,0,.1);color: white;}
.containerimage img{height: 80%;vertical-align: middle;}

.containertable{width: 80vw; padding-top: 0;border: 2px solid #69c1b6;background: rgba(255,255,255,0.8);}

.tabcontainer{display: flex;width:80vw;}

.producttabs {width:25%;background: rgba(221,221,221,1.00);height: 4.5vh;}

.producttabsactive {background: #69c1b6;cursor: pointer; color: white;font-size: 12px;width:25%;height: 4.5vh;}

.producttabs:hover {background: #69c1b6;cursor: pointer; color: white;font-size: 12px;}

.producttabs li
	{
	list-style: none;
	padding: 1.5vh 1.5vh;
    font-size: 12px;
	}

.producttabs li:hover
	{
	font-size: 12px; overflow: hidden;font-weight: 500;
	}

.producttabsactive li
	{
	list-style: none;
	padding: 1.5vh 1.5vh;
	font-size: 12px; overflow: hidden;font-weight: 500;
	}

.topmenu{
	position: absolute;
	top: 0;
	left: 39.5vw;
	text-align: center;
	height: 1.5vw;
	display: flex;
	border-radius: .5vw;
	overflow: hidden;
}
.backbutton{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 30px;
	top: 20px;
	background: rgba(0,0,0,.5);
	border-radius: 10px;
	cursor: pointer;
}

.backbutton:hover{
	background: rgba(0,0,0,.6);
}
.backbutton img{
	width: 35px;
    padding-left: 7.5px;
    padding-top: 7.5px;
}

.topmenuitem{
	width: 7vw;
	background: rgba(0,0,0,0.05);
	cursor: pointer;
	list-style: none; 
	color: white;
	line-height: 1.5vw;
	
}
.topmenuitem:hover{
	background: rgba(0,0,0,0.1);
	animation: anm_topmenu 1s cubic-bezier(0, 0.08, 0, 0.38) 1;
}

@keyframes anm_topmenu{
	0%{
		letter-spacing: 0px;
	}
	50%{
		letter-spacing: 2px;
	}
	100%{
		letter-spacing: 0px;
	}
}
